
@{
    ViewData["Title"] = "Acerca de";
}

<h1 class="title_acerca_de">Acerca de nosotros</h1>

<section class="container_acerca_de_apartado">
    <img src="~/images/utmlogo.png" alt="">
    <h1>Universidad Tecnologica Metropolitana</h1>
    <p>Asignatura: Aplicaciones Web</p>
    <p>Profesor: Joel Ivan Chuc Uc</p>
    <p>Proyecto Integrador</p>
    <p>Cuatrimestre: 3  Grupo: A</p>
    <a href="https://github.com/lordivanba/Kisko_ASP.NET" class="btn btn-light" target="_blank">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
            <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
        </svg>
         Repositorio
    </a>
</section>

<h1 class="title_integrantes">Integrantes</h1>

<section class="container_integrantes">
    <div>
        <img src="~/images/isai.jpg" class="img-rounded" alt="">
    </div>
    <div class="container_integrantes_txt">
        <h2>Jesus Isaí Vazquez Valdez</h2>
        <h4>Biografía: </h4>
        <p>Isai vazquez, estudio DSM en la UTM, actualmente disfruto mucho la carrera y a mis amigos, además de estar feliz por haber participado en este proyecto, naci el 8 de mayo del 2001 y quisiera terminar la ingennieria</p>
    </div>
</section>

<section class="container_integrantes">
    <div>
        <img src="~/images/ivan.jpg" class="img-rounded" alt="">
    </div>
    <div class="container_integrantes_txt">
        <h2>Ivan Israel Canto Salas</h2>
        <h4>Biografía: </h4>
        <p>Naci el 28 de marzo del 2000 en Mérida Yucatán, mis pasatiempos favoritos son ver películas, escuchar música, los videojuegos y también disfruto aprender idiomas. Actualmente soy estudiante univesitario en la carrera de desarollo de software, posteriormente quisiera estudiar una ingenniería y poder trabajar en el extranjero.</p>
    </div>
</section>

<section class="container_integrantes">
    <div>
        <img src="~/images/juan.jpg" class="img-rounded" alt="">
    </div>
    <div class="container_integrantes_txt">
        <h2>Juan Carlos Cime Santoyo</h2>
        <h4>Biografía: </h4>
        <p>Con 22 años intento buscar para que me trajeron al mundo y sigo sin hallar la respuesta, me gusta leer, los videojuegos, la musica y peliculas, lo basico para una persona, fan de Hollow Knight y la dimensión desconocida</p>
    </div>
</section>
