
@{
    ViewData["Title"] = "Acerca de";
}

<h1 class="title_acerca_de">Acerca de</h1>

<section class="container_acerca_de_apartado">
    <img src="~/images/utmlogo.png" alt="">
    <h1>Universidad Tecnologica Metropolitana</h1>
    <p>Asignatura: Aplicaciones Web</p>
    <p>Profesor: Joel Ivan Chuc Uc</p>
    <p>Proyecto Integrador</p>
    <p>Cuatrimestre: 3  Grupo: A</p>
</section>

<h1 class="title_integrantes">Integrantes</h1>

<section class="container_integrantes">
    <div>
        <img src="~/images/isai.jpg" class="img-rounded" alt="">
    </div>
    <div class="container_integrantes_txt">
        <h2>Jesus Isaí Vazquez Valdez</h2>
        <h4>Biografía: </h4>
        <p>Isai vazquez, estudio DSM en la UTM, actualmente disfruto mucho la carrera y a mis amigos, además de estar feliz por haber participado en este proyecto, naci el 8 de mayo del 2001 y quisiera terminar la ingennieria</p>
    </div>
</section>

<section class="container_integrantes">
    <div>
        <img src="~/images/ivan.jpg" class="img-rounded" alt="">
    </div>
    <div class="container_integrantes_txt">
        <h2>Ivan Israel Canto Salas</h2>
        <h4>Biografía: </h4>
        <p>Naci el 28 de marzo del 2000 en Mérida Yucatán, mis pasatiempos favoritos son ver películas, escuchar música, los videojuegos y también disfruto aprender idiomas. Actualmente soy estudiante univesitario en la carrera de desarollo de software, posteriormente quisiera estudiar una ingenniería y poder trabajar en el extranjero.</p>
    </div>
</section>

<section class="container_integrantes">
    <div>
        <img src="~/images/juan.jpg" class="img-rounded" alt="">
    </div>
    <div class="container_integrantes_txt">
        <h2>Juan Carlos Cime Santoyo</h2>
        <h4>Biografía: </h4>
        <p>Con 22 años intento buscar para que me trajeron al mundo y sigo sin hallar la respuesta, me gusta leer, los videojuegos, la musica y peliculas, lo basico para una persona, fan de Hollow Knight y la dimensión desconocida</p>
    </div>
</section>
