
@{
    ViewData["Title"] = "Registrar";
}

<form class="login_form">

    <h1>Registrar Cuenta</h1>
    <div class="container_login">

        <div class="input-container_login">
            <i class="fas fa-user-circle icon"></i>
            <input type="text" placeholder="Nombre Completo">

        </div>

        <div class="input-container_login">
            <i class="fas fa-envelope icon"></i>
            <input type="text" placeholder="Correo Electronico">
        </div>

        <div class="input-container_login">
            <i class="fas fa-key icon"></i>
            <input type="password" placeholder="Contraseña">

        </div>
        <button class="button_login" id="btnLogin" type="submit">Registrar</button>
        <p>Al registrarte,aceptas ser fiel seguidor de la UTM y de la clase Aplicaciones WEB</p>
        <p>¿Ya tienes una cuenta? <a class="link" asp-controller="Login" asp-action="Index">Iniciar Sesion</a></p>
    </div>
</form>