
@{
    ViewData["Title"] = "Gestiones";
}

<h1 class="title_gestiones">GESTIONES</h1>
<main class="container_gestiones">
    <div class="d-flex position-relative container_gestion">
        <img src="https://image.flaticon.com/icons/png/512/2231/2231696.png" class="flex-shrink-0 me-3" alt="...">
        <div>
            <h5 class="mt-0">Carreras</h5>
            <p>Parte administrativa de la pagina cuya función es administrar la información de las carreras en la UTM.</p>
            <a asp-controller="GestionCarreras" asp-action="Index" id="btnGestionCarreras" class="btn btn-primary">Gestionar</a>
        </div>
    </div>

    <div class="d-flex position-relative container_gestion">
        <img src="https://image.flaticon.com/icons/png/512/2683/2683274.png" class="flex-shrink-0 me-3" alt="...">
        <div>
            <h5 class="mt-0">Proyectos</h5>
            <p>Parte administrativa de la pagina cuya función es administrar la información de los proyectos en la UTM.</p>
            <a asp-controller="GestionProyectos" asp-action="Index" id="btnGestionProyectos" class="btn btn-primary">Gestionar</a>
        </div>
    </div>

    <div class="d-flex position-relative container_gestion">
        <img src="https://image.flaticon.com/icons/png/512/2784/2784403.png" class="flex-shrink-0 me-3" alt="...">
        <div>
            <h5 class="mt-0">Alumnos</h5>
            <p>Parte administrativa de la pagina cuya función es administrar la información de los alumnos en la UTM.</p>
            <a asp-controller="GestionAlumnos" asp-action="Index" id="btnGestionProyectos" class="btn btn-primary">Gestionar</a>
        </div>
    </div>
</main>

