
@{
    ViewData["Title"] = "Gestiones";
}

<h1 class="title_gestiones">GESTIONES</h1>
<main class="container_gestiones">
    <div class="d-flex position-relative container_gestion">
        <img src="https://images.pexels.com/photos/4126743/pexels-photo-4126743.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="flex-shrink-0 me-3" alt="...">
        <div>
            <h5 class="mt-0">Carreras</h5>
            <p>Parte administrativa de la pagina cuya función es administrar la información de las carreras en la UTM.</p>
            <a asp-controller="GestionCarreras" asp-action="Index" id="btnGestionCarreras" class="btn btn-primary">Gestionar</a>
        </div>
    </div>

    <div class="d-flex position-relative container_gestion">
        <img src="https://images.pexels.com/photos/270408/pexels-photo-270408.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="flex-shrink-0 me-3" alt="...">
        <div>
            <h5 class="mt-0">Proyectos</h5>
            <p>Parte administrativa de la pagina cuya función es administrar la información de los proyectos en la UTM.</p>
            <a asp-controller="GestionProyectos" asp-action="Index" id="btnGestionProyectos" class="btn btn-primary">Gestionar</a>
        </div>
    </div>
</main>

