
@{
    ViewData["Title"] = "Proyecto";
}
<h1 class="title_info_proyecto">Más información del proyecto</h1>
<section class="container_info_proyecto">
    <div class="container_info_img_proyecto">
        <img src="https://images.pexels.com/photos/7357/startup-photos.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
        <h2>Proyecto A</h2>
        <h4>DSM</h4>
    </div>
    <div class="container_info_txt_proyecto">
        <h1>Información detallada del proyecto</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus explicabo soluta reprehenderit nemo sequi animi, deserunt corrupti expedita perspiciatis atque, culpa temporibus labore eveniet repellendus facilis laborum sunt tempora voluptates. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta quas perferendis vitae magni facere provident, totam mollitia aut a at quia ab ducimus earum, aspernatur dolor atque accusamus tempore harum.</p>
    </div>
</section>
<h1 class="title_info_proyecto">Video del proyecto</h1>
<section class="container_video_proyecto">
    <iframe width="420" height="345" src="https://www.youtube.com/embed/tgbNymZ7vqY">
    </iframe>
</section>
<h1 class="title_info_proyecto">Galería del proyecto</h1>
<section class="container_galeria_proyecto">
    <div class="container_galeria_img"><img src="https://images.pexels.com/photos/3912981/pexels-photo-3912981.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt=""></div>
    <div class="container_galeria_img"><img src="https://images.pexels.com/photos/430208/pexels-photo-430208.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt=""></div>
    <div class="container_galeria_img"><img src="https://images.pexels.com/photos/3608056/pexels-photo-3608056.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt=""></div>
</section>