
@{
    ViewData["Title"] = "DivisionAdministracion";
}

<section class="container_carreras_utm">
    <h1 class="title_division">DIVISIÓN ADMINISTRACIÓN</h1>
    <hr>
    <div class="container_carrera">
        <h2>T.S.U. en Logística Área Cadena de Suministros</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum non ducimus magnam doloremque vel, sit quos molestias similique amet ab autem, perspiciatis provident itaque veritatis aut sed necessitatibus! Dolore, iste.</p>
        <button class="btn btn-primary">Plan de estudio</button>
        <hr>
    </div>
    <div class="container_carrera">
        <h2>Licenciatura en Diseño y Gestión de Redes Logísticas        </h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum non ducimus magnam doloremque vel, sit quos molestias similique amet ab autem, perspiciatis provident itaque veritatis aut sed necessitatibus! Dolore, iste.</p>
        <button class="btn btn-primary">Plan de estudio</button>
        <hr>
    </div>
    <div class="container_carrera">
        <h2>T.S.U. en Desarrollo de Negocios Área Mercadotecnia.</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum non ducimus magnam doloremque vel, sit quos molestias similique amet ab autem, perspiciatis provident itaque veritatis aut sed necessitatibus! Dolore, iste.</p>
        <button class="btn btn-primary">Plan de estudio</button>
        <hr>
    </div>
    <div class="container_carrera">
        <h2>Licenciatura en Innovación de Negocios y Mercadotécnica.</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum non ducimus magnam doloremque vel, sit quos molestias similique amet ab autem, perspiciatis provident itaque veritatis aut sed necessitatibus! Dolore, iste.</p>
        <button class="btn btn-primary">Plan de estudio</button>
        <hr>
    </div>
    <div class="container_carrera">
        <h2>T.S.U. Área Desarrollo de Productos Alternativos.</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum non ducimus magnam doloremque vel, sit quos molestias similique amet ab autem, perspiciatis provident itaque veritatis aut sed necessitatibus! Dolore, iste.</p>
        <button class="btn btn-primary">Plan de estudio</button>
        <hr>
    </div>
    <div class="container_carrera">
        <h2>T.S.U. Área Hotelería</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum non ducimus magnam doloremque vel, sit quos molestias similique amet ab autem, perspiciatis provident itaque veritatis aut sed necessitatibus! Dolore, iste.</p>
        <button class="btn btn-primary">Plan de estudio</button>
        <hr>
    </div>
    <div class="container_carrera">
        <h2>Licenciatura en Gestión y Desarrollo Turístico.</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum non ducimus magnam doloremque vel, sit quos molestias similique amet ab autem, perspiciatis provident itaque veritatis aut sed necessitatibus! Dolore, iste.</p>
        <button class="btn btn-primary">Plan de estudio</button>
        <hr>
    </div>
    <div class="container_carrera">
        <h2>T.S.U. Área Formulación y Evaluación de Proyectos.</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum non ducimus magnam doloremque vel, sit quos molestias similique amet ab autem, perspiciatis provident itaque veritatis aut sed necessitatibus! Dolore, iste.</p>
        <button class="btn btn-primary">Plan de estudio</button>
        <hr>
    </div>
    <div class="container_carrera">
        <h2>Licenciatura en Gestión de Negocios y Proyectos.</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum non ducimus magnam doloremque vel, sit quos molestias similique amet ab autem, perspiciatis provident itaque veritatis aut sed necessitatibus! Dolore, iste.</p>
        <button class="btn btn-primary">Plan de estudio</button>
        <hr>
    </div>
    <div class="container_carrera">
        <h2>T.S.U. en Administración Área Capital Humano.</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum non ducimus magnam doloremque vel, sit quos molestias similique amet ab autem, perspiciatis provident itaque veritatis aut sed necessitatibus! Dolore, iste.</p>
        <button class="btn btn-primary">Plan de estudio</button>
        <hr>
    </div>
    <div class="container_carrera">
        <h2>Licenciatura en Gestión del Capital Humano.</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum non ducimus magnam doloremque vel, sit quos molestias similique amet ab autem, perspiciatis provident itaque veritatis aut sed necessitatibus! Dolore, iste.</p>
        <button class="btn btn-primary">Plan de estudio</button>
        <hr>
    </div>
    <div class="container_carrera">
        <h2>T.S.U. en Gastronomía.</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum non ducimus magnam doloremque vel, sit quos molestias similique amet ab autem, perspiciatis provident itaque veritatis aut sed necessitatibus! Dolore, iste.</p>
        <button class="btn btn-primary">Plan de estudio</button>
        <hr>
    </div>
    <div class="container_carrera">
        <h2>Licenciatura en Gastronomía.</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum non ducimus magnam doloremque vel, sit quos molestias similique amet ab autem, perspiciatis provident itaque veritatis aut sed necessitatibus! Dolore, iste.</p>
        <button class="btn btn-primary">Plan de estudio</button>
        <hr>
    </div>
</section>
