
@{
    ViewData["Title"] = "Divisiones";
}

<h1 class="title_divisiones">Nuestras Divisiones Académicas</h1>
<section class="container_divisiones">
    <div>
        <h1>TECNOLOGÍAS DE LA INFORMACIÓN Y COMUNICACIÓN</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas aspernatur deserunt commodi consequatur a non vitae maiores officiis molestias harum praesentium at illo, autem pariatur, repellat excepturi. Quas, expedita blanditiis. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum voluptas, mollitia fuga similique ipsam quis, quasi voluptatum incidunt eligendi vel magnam! Perferendis possimus molestiae nulla, aut doloribus ab harum repudiandae.
        </p>
        <a asp-controller="DivisionTic" asp-action="Index" class="btn btn-primary">Ver carreras</a>
    </div>

    <div>
        <h1>INDUSTRIAL</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas aspernatur deserunt commodi consequatur a non vitae maiores officiis molestias harum praesentium at illo, autem pariatur, repellat excepturi. Quas, expedita blanditiis. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis maxime, esse dolore minus asperiores eius dolores eveniet vel nam, omnis provident fuga ducimus magni rerum! Blanditiis beatae odio repudiandae sit.</p>
        <a asp-controller="DivisionIndustrial" asp-action="Index" class="btn btn-primary">Ver carreras</a>
    </div>

    <div>
        <h1>ADMINISTRACIÓN</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas aspernatur deserunt commodi consequatur a non vitae maiores officiis molestias harum praesentium at illo, autem pariatur, repellat excepturi. Quas, expedita blanditiis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat officia minus commodi tenetur aut, obcaecati itaque nam porro ipsum id fugiat, quod ipsa corporis dolor modi possimus odio at facilis!</p>
        <a asp-controller="DivisionAdministracion" asp-action="Index" class="btn btn-primary">Ver carreras</a>
    </div>

    <div>
        <h1>INNOVACIÓN Y DESARROLLO ESTRATÉGICO</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas aspernatur deserunt commodi consequatur a non vitae maiores officiis molestias harum praesentium at illo, autem pariatur, repellat excepturi. Quas, expedita blanditiis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio fugiat quas fuga ea nesciunt ipsa? Iure officia eius optio, quasi vitae commodi maiores animi vero veritatis temporibus alias tempore inventore!
        </p>
        <a asp-controller="DivisionInnovacion" asp-action="Index" class="btn btn-primary">Ver carreras</a>
    </div>
</section>
