
@{
    ViewData["Title"] = "Divisiones";
}

<h1 class="title_divisiones">Nuestras Divisiones Académicas</h1>
<section class="container_divisiones">
    <div>
        <h1>TECNOLOGÍAS DE LA INFORMACIÓN Y COMUNICACIÓN</h1>
        <div class="container_divisiones_icon">
            <img src="https://image.flaticon.com/icons/png/512/2920/2920281.png" alt="Alternate Text" />
        </div>
        <a asp-controller="DivisionTic" asp-action="Index" class="btn btn-primary">Ver carreras</a>
    </div>

    <div>
        <h1>INDUSTRIAL</h1>
        <div class="container_divisiones_icon">
            <img src="https://image.flaticon.com/icons/png/512/1037/1037503.png" alt="Alternate Text" />
        </div>
        <a asp-controller="DivisionIndustrial" asp-action="Index" class="btn btn-primary">Ver carreras</a>
    </div>

    <div>
        <h1>ADMINISTRACIÓN</h1>
        <div class="container_divisiones_icon">
            <img src="https://image.flaticon.com/icons/png/512/762/762685.png" alt="Alternate Text" />
        </div>
        <a asp-controller="DivisionAdministracion" asp-action="Index" class="btn btn-primary">Ver carreras</a>
    </div>

    <div>
        <h1>INNOVACIÓN Y DESARROLLO ESTRATÉGICO</h1>
        <div class="container_divisiones_icon">
            <img src="https://image.flaticon.com/icons/png/512/912/912176.png" alt="Alternate Text" />
        </div>
        <a asp-controller="DivisionInnovacion" asp-action="Index" class="btn btn-primary">Ver carreras</a>
    </div>
</section>
