@model IEnumerable<CareerDTO>;
@{
    ViewData["Title"] = "DivisionIndustrial";
}

<section class="container_carreras_utm">
    <h1 class="title_division">DIVISIÓN INDUSTRIAL</h1>
    <hr>
    @foreach (var item in Model)
    {
        <div class="container_carrera">
            <h2>@item.Name</h2>
            <p>@item.Description</p>
            <a href="~/archives/@item.PdfName" class="btn btn-primary" target="_blank">Plan de estudio</a>
            <hr>
        </div>
    }
</section>