
@{
    ViewData["Title"] = "DivisionIndustrial";
}

<section class="container_carreras_utm">
    <h1 class="title_division">DIVISIÓN INDUSTRIAL</h1>
    <hr>
    <div class="container_carrera">
        <h2>T.S.U. Área Manufactura.</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum non ducimus magnam doloremque vel, sit quos molestias similique amet ab autem, perspiciatis provident itaque veritatis aut sed necessitatibus! Dolore, iste.</p>
        <button class="btn btn-primary">Plan de estudio</button>
        <hr>
    </div>
    <div class="container_carrera">
        <h2>Ingeniería en Sistemas Productivos.</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum non ducimus magnam doloremque vel, sit quos molestias similique amet ab autem, perspiciatis provident itaque veritatis aut sed necessitatibus! Dolore, iste.</p>
        <button class="btn btn-primary">Plan de estudio</button>
        <hr>
    </div>
    <div class="container_carrera">
        <h2>T.S.U. Área Producción.</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum non ducimus magnam doloremque vel, sit quos molestias similique amet ab autem, perspiciatis provident itaque veritatis aut sed necessitatibus! Dolore, iste.</p>
        <button class="btn btn-primary">Plan de estudio</button>
        <hr>
    </div>
    <div class="container_carrera">
        <h2>Ingeniería en Diseño Textil y Moda.</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum non ducimus magnam doloremque vel, sit quos molestias similique amet ab autem, perspiciatis provident itaque veritatis aut sed necessitatibus! Dolore, iste.</p>
        <button class="btn btn-primary">Plan de estudio</button>
        <hr>
    </div>
    <div class="container_carrera">
        <h2>T.S.U. Área Solar</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum non ducimus magnam doloremque vel, sit quos molestias similique amet ab autem, perspiciatis provident itaque veritatis aut sed necessitatibus! Dolore, iste.</p>
        <button class="btn btn-primary">Plan de estudio</button>
        <hr>
    </div>
    <div class="container_carrera">
        <h2>Ingeniería en Energías Renovables</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum non ducimus magnam doloremque vel, sit quos molestias similique amet ab autem, perspiciatis provident itaque veritatis aut sed necessitatibus! Dolore, iste.</p>
        <button class="btn btn-primary">Plan de estudio</button>
        <hr>
    </div>
    <div class="container_carrera">
        <h2>T.S.U. Área Industrial.</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum non ducimus magnam doloremque vel, sit quos molestias similique amet ab autem, perspiciatis provident itaque veritatis aut sed necessitatibus! Dolore, iste.</p>
        <button class="btn btn-primary">Plan de estudio</button>
        <hr>
    </div>
    <div class="container_carrera">
        <h2>Ingeniería en Mantenimiento Industrial.</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum non ducimus magnam doloremque vel, sit quos molestias similique amet ab autem, perspiciatis provident itaque veritatis aut sed necessitatibus! Dolore, iste.</p>
        <button class="btn btn-primary">Plan de estudio</button>
        <hr>
    </div>
    <div class="container_carrera">
        <h2>T.S.U. Área Automatización</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum non ducimus magnam doloremque vel, sit quos molestias similique amet ab autem, perspiciatis provident itaque veritatis aut sed necessitatibus! Dolore, iste.</p>
        <button class="btn btn-primary">Plan de estudio</button>
        <hr>
    </div>
    <div class="container_carrera">
        <h2>TSU. Área Instalaciones Eléctricas Eficientes.</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum non ducimus magnam doloremque vel, sit quos molestias similique amet ab autem, perspiciatis provident itaque veritatis aut sed necessitatibus! Dolore, iste.</p>
        <button class="btn btn-primary">Plan de estudio</button>
        <hr>
    </div>
    <div class="container_carrera">
        <h2>Ingenieria Mecatrónica.</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum non ducimus magnam doloremque vel, sit quos molestias similique amet ab autem, perspiciatis provident itaque veritatis aut sed necessitatibus! Dolore, iste.</p>
        <button class="btn btn-primary">Plan de estudio</button>
        <hr>
    </div>
</section>