
@{
    ViewData["Title"] = "DivisionInnovacion";
}

<section class="container_carreras_utm">
    <h1 class="title_division">DIVISIÓN INNOVACIÓN Y DESARROLLO ESTRATÉGICO</h1>
    <hr>
    <div class="container_carrera">
        <h2>T.S.U. en Diseño Digital Área Animación.</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum non ducimus magnam doloremque vel, sit quos molestias similique amet ab autem, perspiciatis provident itaque veritatis aut sed necessitatibus! Dolore, iste.</p>
        <button class="btn btn-primary">Plan de estudio</button>
        <hr>
    </div>
    <div class="container_carrera">
        <h2>
            Licenciatura en Diseño Digital y Producción Audiovisual.<h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum non ducimus magnam doloremque vel, sit quos molestias similique amet ab autem, perspiciatis provident itaque veritatis aut sed necessitatibus! Dolore, iste.</p>
                <button class="btn btn-primary">Plan de estudio</button>
                <hr>
    </div>
</section>
