
@{
    ViewData["Title"] = "GestionAlumnos";
}

<h1 class="title_gestion_proyectos">
    <img src="https://image.flaticon.com/icons/png/512/2784/2784403.png" alt="">
    Gestion de alumnos
</h1>

<div class="container_buttons_proyects">
    <a asp-action="Add" class="btn btn-success" id="btnAddProject">Añadir proyecto</a>
</div>

<section class="proyecto_table">
    <table class="table table-dark">
        <thead>
            <tr>
                <td>Nombre del proyecto </td>
                <td>Descripcion del proyecto </td>
                <td>Grado y grupo </td>
                <td>Operaciones </td>
            </tr>
        </thead>
        <tbody>
            <h2>Hola alumnos :p</h2>
        </tbody>
    </table>
</section>

