@{
    ViewData["Title"] = "Proyectos";
}

<section class="container_proyectos">
    <h1 class="title_proyectos">Proyectos</h1>
    <div class="container_proyecto">
        <img src="https://images.pexels.com/photos/6953672/pexels-photo-6953672.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
        <div class="proyecto_text">
            <h4>PROYECTO A</h4>
            <h5></h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis dolorem eos impedit, voluptate reiciendis similique id molestias saepe deleniti ad! Fugiat commodi iusto et enim aspernatur ea rem fugit eum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae sed incidunt maiores commodi, dicta cupiditate sapiente voluptate magni veritatis, deleniti necessitatibus reprehenderit odio. Modi quod veniam minima! Dolores, porro itaque?</p>
            <button id="btnCarreras" class="btn btn-primary">Ver más información del proyecto</button>
        </div>
    </div>

    <div class="container_proyecto">
        <img src="https://images.pexels.com/photos/669615/pexels-photo-669615.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
        <div class="proyecto_text">
            <h4>PROYECTO B</h4>
            <h5></h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis dolorem eos impedit, voluptate reiciendis similique id molestias saepe deleniti ad! Fugiat commodi iusto et enim aspernatur ea rem fugit eum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae sed incidunt maiores commodi, dicta cupiditate sapiente voluptate magni veritatis, deleniti necessitatibus reprehenderit odio. Modi quod veniam minima! Dolores, porro itaque?</p>
            <button id="btnCarreras" class="btn btn-primary">Ver más información del proyecto</button>
        </div>
    </div>

    <div class="container_proyecto">
        <img src="https://images.pexels.com/photos/7376/startup-photos.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
        <div class="proyecto_text">
            <h4>PROYECTO C</h4>
            <h5></h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis dolorem eos impedit, voluptate reiciendis similique id molestias saepe deleniti ad! Fugiat commodi iusto et enim aspernatur ea rem fugit eum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae sed incidunt maiores commodi, dicta cupiditate sapiente voluptate magni veritatis, deleniti necessitatibus reprehenderit odio. Modi quod veniam minima! Dolores, porro itaque?</p>
            <button id="btnCarreras" class="btn btn-primary">Ver más información del proyecto</button>
        </div>
    </div>
</section>
<script type="text/javascript">
    document.getElementById("btnCarreras").onclick = function () {
        location.href = "info_proyecto.html";
    };
</script>