@model IEnumerable<ProjectDTO>
@{
    ViewData["Title"] = "Proyectos";
}

<section class="container_proyectos">
    <h1 class="title_proyectos">Proyectos</h1>

    @foreach (var item in Model)
    {
        <div class="container_proyecto">
            <div class="proyecto_text">
                <h4>@item.Name</h4>
                <p>@item.Description</p>
                <a id="btnCarreras" class="btn btn-primary"asp-controller="Proyectos" asp-action="Info" asp-route-id="@item.Id">Ver más información del proyecto</a>
            </div>
        </div>
    }
</section>